@page
@using GlrTransportInc.Models
@model GlrTransportInc.Pages.Freight_Bills.AddSignature
@inject SignInManager<UserModel> SignInManager

@{
    ViewData["Title"] = "Add Signature";
}

<body>
    <!--** test sign in check **-->
    @if (SignInManager.IsSignedIn(User))
    {
        <p>Please sign below, then press save and confirm signature at the bottom of the screen.</p>
        <div id="cont" class="container" style="float: left">
            <div>
                <canvas id="signature" width="450" height="175" class="border">
                </canvas>
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="clearBox">Clear</button>
                <button type="button" class="btn btn-primary" id="saveBox">Save</button>

            </div>
        </div>
        <div style="clear: left">
            <form method="post">
                <p id="confirm" style="display: none">Please press confirm to add to the bill.</p>
                <!--<input asp-for="data" id="dataVal" class="form-control" value=null style="display: none" />-->
                <input type="text" id="dataVal" class="form-control" name="image" value=null style="display: none"/>
                <input type="submit" value="Confirm" id="confirmB" class="btn btn-primary" style="display: none" />
            </form>
            <a asp-page="./SignatureConfirmation" class="row" id="route" style="display: none" asp-route-id="@Model.billID">Confirm</a>

            <img src="" id="newimg" />
        </div>
        <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js">
        </script>
        <script>
            var signaturePad;
            const newimg = document.querySelector("#newimg");
            const confirm = document.querySelector("#confirm");
            const confirmB = document.querySelector("#confirmB");
            const dataVal = document.querySelector("#dataVal");
            //const router = document.querySelector("#route");
            function setBox() {
                var canvas = document.getElementById("signature");

                signaturePad = new SignaturePad(canvas);
            }
            function clearCanvas() {
                signaturePad.clear();

            }
            function saveCanvas() {
                //signaturePad = document.querySelector("#signature")
                var dataURL = signaturePad.toDataURL();
                newimg.src = dataURL;
                confirm.style.display = '';
                confirmB.style.display = '';
                dataVal.value = dataURL;
                //dataVal.style.display = '';
                //router.style.display = '';
            }

            document.getElementById("clearBox").addEventListener("click", clearCanvas)
            document.getElementById("saveBox").addEventListener("click", saveCanvas)
            document.addEventListener("DOMContentLoaded", setBox);
        </script>
    }
    else
    {
        <h4>Page is not available.</h4>
    }
</body>
