
<ul class="nav nav-pills flex-row text-center sortNav">
    <li class="nav-item"><a class="nav-link" id="All" asp-page="./Index">All</a></li>
    <li class="nav-item"><a class="nav-link" id="Pending" asp-page="./PendingFreights">Pending</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password" asp-page="./Shipped">Shipped</a></li>
    <li class="nav-item"><a class="nav-link" id="Completed" asp-page="./Completed">Completed</a></li>
    <li class="nav-item"><a class="nav-link" id="Cancelled" asp-page="./Cancelled">Cancelled</a></li>
</ul>