@page
@model EditProfileModel
@{
    ViewData["Title"] = "Edit Profile";
    ViewData["ActivePage"] = ManageNavPages.Edit;
}
<br />
<h1>Your Account</h1>
    
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
    </div>
    <hr />
</div>
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" /> 
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">    
                <label>Add Profile Picture:</label>
                <p>To add a profile picture, follow the link below to create an account 
                    with the same email that you use for this site. Gravatar provides a way to create a 
                    profile picture that is usable on any site that supports it, simply upload the photo
                    there and it will appear on your profile for this site. Gravatar uses Wordpress accounts,
                    so you will be prompted to create an account through Wordpress.</p>
                <a href="https://en.gravatar.com">Click here to add a profile picture</a>
                <br />
                <br />
                <label>Edit Full name:</label>
                <input asp-for="Input.Fullname" class="form-control"/>
                <span asp-validation-for="Input.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary bg-success">Save</button>
            
        </form>
    </div>
</div>