@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Glr Transport Inc.!</h1>
    <p>This site is currently in maintanance and contains no content.</p>
</div>
