/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*------- Index style -------*/
/* Since bootstrap prefers mobile first design, this first block is for mobile */
.main {
    padding-top: 240px;
}
.mainText {
    padding-top: 260px;
}
.loggedIn {
    margin-top: 20px;
}
.mobileList {
    display: block;
}
.table-responsive{
    display: none;
}
.optionButton{
    margin-right: 15px;
}
.postTitle{
    /* Raspberry */
    color: #E30B5D;
}
.sortNav li{
    display: inline;
}
.img-fluid{
    display: none;
}
.MobileImg{
    display: inline-block;
}
.mainMobileBanner{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 340px;
    width: 100%;
    background: url("../Images/scenic_drive.jpg") no-repeat center center;
    background-size: cover;
    /* next is for browser compatibility */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-bottom: 7px solid #5cb85c;
    box-shadow: 0px 5px 5px gainsboro;
}
.mobileCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.mobileSize{
    display: block;
}
.mainSize{
    display: none;
}
/* Medium devices (tablets, 768px and up). Everything else will be for mobile, within 
   this query will be the styling for tablets and desktop*/
@media (min-width: 768px) {
    .main {
        padding-top: 460px;
        /*margin-top: 60px;*/
        margin-right: 50px;
        margin-left: 50px;
        /*padding: 30px 45px;
        /* background-color: gainsboro; */
    }
    .mainText {
        padding-top: 480px;
        /*margin-top: 60px;*/
        margin-right: 50px;
        margin-left: 50px;
        /*padding: 30px 45px;
        /* background-color: gainsboro; */
    }
    .loggedIn {
        margin-top: 45px;
        margin-right: 50px;
        margin-left: 50px;
        padding: 30px 45px;
    }
    .table-responsive{
        display: block;
    }
    .mobileList {
        display: none;
    }
    .optionButton{
        margin-right: 15px;
    }
    .img-fluid{
        display: inline-block;
    }
    .MobileImg{
        display: none;
    }
    .mainBanner{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 500px;
        width: 100%;
        background: url("../Images/skyline_drive_header.jpg") no-repeat center center;
        background-size: cover;
        /* next is for browser compatibility */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        border-bottom: 7px solid gainsboro;
        box-shadow: 0px 5px 5px black;
    }
    .mainMobileBanner{
        display: none;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .mobileCentered {
        display: none;
    }
    .mobileSize{
        display: none;
    }
    .mainSize{
        display: block;
    }
}
/* not sure if this next style was supposed to be used
.nav > .active > a{
    background-color: #5cb85c;
}
*/
/* ~ Some general styling is below ~ */
.resizeSelect{
    width: 150px;
}
.calendarButton{
    margin-left: 5px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #5cb85c;
}
.navbar {
    
    
}
.btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  /* background-color: #1b6ec2; */
  background-color: #5cb85c;  
  /* border-color: #1861ac; */
  border-color: #5cb85c;   
}
.nav-item > a:hover {
    color: #E30B5D;
}
a:hover {
    color: #E30B5D;
}
/*------- End Nav -------*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
