@page
@model RegisterModel
@{
    ViewData["Title"] = "Add new user";
}
@using Microsoft.AspNetCore.Identity
@using GlrTransportInc.Models
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (RegisterModel.Position2 == "Manager")
    {
        <script>
            function showDiv(divId, element)
            {
                document.getElementById(divId).style.display = (element.value == "Manager" || element.value == "Employee") ? 'block' : 'none';
            }
        </script>
        <style>
            #hidden_div {
                display: none;
            }
        </style>
        <div>
            <div class="row">
                <div class="col-md-7">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h4>Create a new user account.</h4>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <br />
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control userForm"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control userForm" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control userForm" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.EmployeeId"></label>
                            <input type="number" asp-for="Input.EmployeeId" class="form-control userForm" />
                            <span asp-validation-for="Input.EmployeeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Position"></label>
                            <select asp-for="Input.Position" class="form-control userForm" onchange="showDiv('hidden_div', this)">
                                <option value="">Select a Position</option>
                                <option value="Manager">Manager</option>
                                <option value="Employee">Employee</option>
                                <option value="Driver">Driver</option>
                            </select>
                            <span asp-validation-for="Input.Position" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="hidden_div">
                            <label asp-for="Input.CanDrive"></label><br />
                            <input type="radio" asp-for="Input.CanDrive" value="true"> Yes <br />
                            <input type="radio" asp-for="Input.CanDrive" value="false"> No <br />
                            <span asp-validation-for="Input.CanDrive" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Name"></label>
                            <input asp-for="Input.Name" class="form-control userForm" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary bg-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="main text-center">
            <p>You must log in to a manager account to add a new user.</p>
        </div>
    }
}
else
{
    <div class="main text-center">
        <h1 class="text-center">Add a new user</h1>
        <p>You must log in to a manager account to add a new user.</p>
        <a asp-area="Identity" asp-page="/Account/Login" class="p text-success">Click here to log in</a>
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
