@page
@model MapModel
@{
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        #map {
            height: 90vh;
            width: 100%;
        }
        #searchInput {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

    </style>
    <style>
        body {
            background-color: #5cb85c;
        }
    </style>

</head>

<body>

    <div class="container">

            <input id="searchInput" class="controls" type="text" placeholder="Enter a location">

            <div id="map"></div>

        <script>function initMap() {
                // Map options
                var options = {
                    zoom: 15,
                    center: { lat: 33.1501, lng: -97.6873 }
                }

                // New map 
                var map = new google.maps.Map(document.getElementById('map'), options);
    
                var markers = [];

                // Listen for click on map
                google.maps.event.addListener(map, 'click',
                function (event) {
                    // Add marker
                    addMarker({ coords: event.latLng });
                });

                // Loop through markers
                for (var i = 0; i < markers.length; i++) {
                    addMarker(markers[i]);
                }

                // Add marker function
                function addMarker(props) {
                    var mark = new google.maps.Marker({
                           position: props.coords,
                           map: map,
                        })
           

                    if (props.content) {
                        var infoWindow = new google.maps.InfoWindow({
                        content: props.content
                    });
                    }

                    mark.addListener('click', function () {
                        infoWindow.open(map, mark);
                    })

                }
            
                var input = document.getElementById('searchInput');
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                var autocomplete = new google.maps.places.Autocomplete(input);
                autocomplete.bindTo('bounds', map);

                var infowindow = new google.maps.InfoWindow();
                var marker = new google.maps.Marker({
                    map: map,
                    anchorPoint: new google.maps.Point(0, -29)
                });

                autocomplete.addListener('place_changed', function () {
                    infowindow.close();
                    marker.setVisible(false);
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        window.alert("Autocomplete's returned place contains no geometry");
                        return;
                    }

                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.setCenter(place.geometry.location);
                        map.setZoom(17);
                    }
                    marker.setIcon(({
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(35, 35)
                    }));
                    marker.setPosition(place.geometry.location);
                    marker.setVisible(true);

                    var address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name || ''),
                            (place.address_components[1] && place.address_components[1].short_name || ''),
                            (place.address_components[2] && place.address_components[2].short_name || '')
                        ].join(' ');
                    }

                    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                    infowindow.open(map, marker);


                    for (var i = 0; i < place.address_components.length; i++) {
                        if (place.address_components[i].types[0] == 'postal_code') {
                            document.getElementById('postal_code').innerHTML = place.address_components[i].long_name;
                        }
                        if (place.address_components[i].types[0] == 'country') {
                            document.getElementById('country').innerHTML = place.address_components[i].long_name;
                        }
                    }
                    document.getElementById('location').innerHTML = place.formatted_address;
                    document.getElementById('lat').innerHTML = place.geometry.location.lat();
                    document.getElementById('lon').innerHTML = place.geometry.location.lng();
                });
            }</script>


        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB9C7DAW4th_WxpdTwckQXqyac5pa4CmSw&callback=initMap"
                async defer></script>

    </div>

    <app-root></app-root>

</body>
</html>
