@page
@model EditModel
@using GlrTransportInc.Models
@inject SignInManager<UserModel> SignInManager

@if (SignInManager.IsSignedIn(User) && (Model.Timesheet.Email == EditModel.Name || EditModel.Position == "Manager"))
{
    <h4>Timesheet</h4>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container-fluid">
            <h3>Editing @Model.Timesheet.Email's time sheet</h3>
            <input type="hidden" asp-for="Timesheet.Email" class="form-control" />
            <input type="hidden" asp-for="Timesheet.ID" class="form-control" />
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Timesheet.Week" class="control-label">Week of:</label>
                        <input type="date" asp-for="Timesheet.Week" class="form-control" />
                        <span asp-validation-for="Timesheet.Week" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h5>Friday:</h5> <br />
                    <h6>Hrs.</h6>
                    <input asp-for="Timesheet.Hours1" class="form-control" />
                    <span asp-validation-for="Timesheet.Hours1" class="text-danger"></span>
                    <br />
                    <textarea asp-for="Timesheet.Comments1" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Timesheet.Comments1" class="text-danger"></span>
                    <br />
                    <h6>#jobs:</h6>
                    <input asp-for="Timesheet.Jobs1" class="form-control" />
                    <span asp-validation-for="Timesheet.Jobs1" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h5>Monday:</h5> <br />
                    <h6>Hrs.</h6>
                    <input asp-for="Timesheet.Hours2" class="form-control" />
                    <span asp-validation-for="Timesheet.Hours2" class="text-danger"></span>
                    <br />
                    <textarea asp-for="Timesheet.Comments2" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Timesheet.Comments2" class="text-danger"></span>
                    <br />
                    <h6>#jobs:</h6>
                    <input asp-for="Timesheet.Jobs2" class="form-control" />
                    <span asp-validation-for="Timesheet.Jobs2" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h5>Tuesday:</h5> <br />
                    <h6>Hrs.</h6>
                    <input asp-for="Timesheet.Hours3" class="form-control" />
                    <span asp-validation-for="Timesheet.Hours3" class="text-danger"></span>
                    <br />
                    <textarea asp-for="Timesheet.Comments3" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Timesheet.Comments3" class="text-danger"></span>
                    <br />
                    <h6>#jobs:</h6>
                    <input asp-for="Timesheet.Jobs3" class="form-control" />
                    <span asp-validation-for="Timesheet.Jobs3" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h5>Wednesday:</h5> <br />
                    <h6>Hrs.</h6>
                    <input asp-for="Timesheet.Hours4" class="form-control" />
                    <span asp-validation-for="Timesheet.Hours4" class="text-danger"></span>
                    <br />
                    <textarea asp-for="Timesheet.Comments4" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Timesheet.Comments4" class="text-danger"></span>
                    <br />
                    <h6>#jobs:</h6>
                    <input asp-for="Timesheet.Jobs4" class="form-control" />
                    <span asp-validation-for="Timesheet.Jobs4" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h5>Thursday:</h5> <br />
                    <h6>Hrs.</h6>
                    <input asp-for="Timesheet.Hours5" class="form-control" />
                    <span asp-validation-for="Timesheet.Hours5" class="text-danger"></span>
                    <br />
                    <textarea asp-for="Timesheet.Comments5" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Timesheet.Comments5" class="text-danger"></span>
                    <br />
                    <h6>#jobs:</h6>
                    <input asp-for="Timesheet.Jobs5" class="form-control" />
                    <span asp-validation-for="Timesheet.Jobs5" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h6>Total hours:</h6>
                    <input asp-for="Timesheet.TotalHours" class="form-control" />
                    <span asp-validation-for="Timesheet.TotalHours" class="text-danger"></span>
                    <br /><h6>$ /hr.</h6>
                    <input asp-for="Timesheet.PerHour" class="form-control" />
                    <span asp-validation-for="Timesheet.PerHour" class="text-danger"></span>
                    <br /><h6>If 40 hrs. then $ /hr.</h6>
                    <input asp-for="Timesheet.Over40PerHour" class="form-control" />
                    <span asp-validation-for="Timesheet.Over40PerHour" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <br />
            @if (EditModel.Position != "Manager")
            {
                <input type="hidden" asp-for="Timesheet.Total" class="form-control" />
                <input type="hidden" asp-for="Timesheet.PayDate" class="form-control" />
                <input type="hidden" asp-for="Timesheet.NetPay" class="form-control" />
                <input type="hidden" asp-for="Timesheet.DaysOff" class="form-control" />
            }
            else if (EditModel.Position == "Manager")
            {
                <div class="row">
                    <div class="col-md-12">
                        <h3>Office Use:</h3>
                        <h6>Total jobs:</h6>
                        <input asp-for="Timesheet.Total" class="form-control" />
                        <span asp-validation-for="Timesheet.Total" class="text-danger"></span>
                        <br />
                        <h6>Pay Date:</h6>
                        <input type="date" asp-for="Timesheet.PayDate" class="form-control" />
                        <span asp-validation-for="Timesheet.PayDate" class="text-danger"></span>
                        <br />
                        <h6>Net Pay: </h6>
                        <input asp-for="Timesheet.NetPay" class="form-control" />
                        <span asp-validation-for="Timesheet.NetPay" class="text-danger"></span>
                        <br />
                        <h6>Personal Days Off:</h6>
                        <input asp-for="Timesheet.DaysOff" class="form-control" />
                        <span asp-validation-for="Timesheet.DaysOff" class="text-danger"></span>
                        <br />
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

    @if(EditModel.Position == "Manager")
    { 
        <div>
            <a asp-page="./Index">Back to List</a>
        </div>
    } else
    {
        <div>
            <a asp-page="./MyIndex">Back to list</a>
        </div>
    }
}
else
{
    <body>
        <div class="main text-center">
            <p>You must log in to edit a timesheet.</p>
            <a asp-page="/LoginPage" class="p text-success">Click here to log in</a>
        </div>
    </body>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
