@page
@model AboutModel
@{
    ViewData["Title"] = "About this site";
}
<body>
    <div class="main text-center">
        <h1 class="display-4">About this site</h1>
        <p>
            This site is being constructed as a portal for employees and management at Glr Transport Inc. to help them
            manage tasks and drivers as well as serve as a quick reference for transport information. This site is being
            built by a team of software engineers at University of North Texas, and accompanies a mobile app for employees
            to access data on smart phone or tablet.
        </p>
    </div>
</body>
