@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<body>
    <div class="aboutMain text-center">
        <h1 class="display-4">About</h1>
        <p>
            GLR Transport Inc. is a trucking company located in Paradise, TX, and is an active carrier 
            operating under USDOT Number 1950593 and MC Number 707590. GLR Transport carries various types of cargo,
            some examples being towaway, mobile homes, intermodal, mobile storage, various forms of general freight, and
            more. Please contact the company via the contact page if you have questions about GLR Transport Inc. and its 
            capabilities.
        </p>
    </div>
</body>
