@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<body>
    <div class="main text-center">
        <h1 class="display-4">About</h1>
        <p>
            Glr Transport Inc., a Texas transport company located in Paradise, TX, is an active carrier operating under 
            USDOT Number 1950593 and MC Number 707590. Some examples of cargo hauled by Glr Transport are towaway, 
            mobile homes, intermodal, mobile storage, and more. For more information about the company, please navigate
            to the contact page.
        </p>
    </div>
</body>
