@page
@model AddDriverModel
@{
}
@{
    ViewData["Title"] = "Old file, probably not needed";
}
<head>
    <br />
    <br />
    <h1 class="text-center">Add a Driver</h1>
</head>
<!-- THIS IS USING THE HOMEPAGE STYLING below, may change later -->
<body>
    <div class="main text-center">
        <p>You must log in to a manager account to add a driver.</p>
        <a asp-page="/LoginPage" class="p text-success">Click here to log in</a>
    </div>
</body>