@page
@model AddFreightModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Add Freight Bill";
}
<!-- THIS IS USING THE HOMEPAGE STYLING below, may change later -->
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="main text-center">
            <h1 class="text-center">Add a Freight Listing</h1>
            <p>(This feature will soon only be available for managers)</p>
            <div class="row">
                <div class="col-md-4">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h5>Please enter all information necesary for this freight.</h5>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary bg-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Not sure if this next element (Scripts) is needed, but I added it in case it affects the form -->
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    }
    else
    {
        <div class="main text-center">
            <h1 class="text-center">Add a Freight Listing</h1>
            <p>You must log in to a manager account to add a freight listing.</p>
            <a asp-area="Identity" asp-page="/Account/Login" class="p text-success">Click here to log in</a>
        </div>
    }
</body>