@page
@{
    ViewData["Title"] = "Contact";
}

<body>
    <div class="aboutMain text-center">
        <h1 class="display-4">Contact</h1>
        <p>Address: 1141 County Road 3470, Paradise, TX 76073</p>
        <p>Email: glrtransport@earthlink.net</p>
        <p>Phone: (940) 433-5101</p> 
        <p>Fax: (940) 433-2248</p>
    </div>
</body>