@page
@model DriversModel
@{
}

<head>
    <br />
    <br />
    <h1 class="text-center">Driver Directory</h1>
</head>
<!-- THIS IS USING THE HOMEPAGE STYLING below, may change later -->
<body>
    <div class="main text-center">
        <p>You must log in to view the driver listing.</p>
        <a asp-page="/LoginPage" class="p text-success">Click here to log in</a>
    </div>
</body>