@page
@model FreightModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "View Freight Bills";
}
<!-- temporary variable -->
@{
    int freightCount = 0;
}

<body>
    @if (SignInManager.IsSignedIn(User)) {
        @if (freightCount == 0) {
            <div class="main text-center">
                <h1 class="text-center">View Freight Bills</h1>
                <p>There are currently no freight bills listed.</p>
            </div>
            @section Scripts {
                <partial name="_ValidationScriptsPartial"/>
            }
        }
        else {
            <p>Not sure how you're able to see this, this is an error check. Bill view is not ready.</p>
        }
    } else {
        <div class="main text-center">
            <h1 class="text-center">View Freight Bills</h1>
            <p>You must log in to a an account to view freight bill listings.</p>
            <a asp-area="Identity" asp-page="/Account/Login" class="p text-success">Click here to log in</a>
        </div>
    }
</body>