@page
@model FreightModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "View Freight Bills";
}
<body>
    @if (SignInManager.IsSignedIn(User)) {
        <div class="main text-center">
            <h1 class="text-center">View Freight Bills</h1>
            <p>(This feature soon display table views of all freight bills. Page is still in maintenance.)</p>
        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    } else {
        <div class="main text-center">
            <h1 class="text-center">View Freight Bills</h1>
            <p>You must log in to a an account to view freight bill listings.</p>
            <a asp-area="Identity" asp-page="/Account/Login" class="p text-success">Click here to log in</a>
        </div>
    }
</body>