@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <div class="home text-center">
        <h1 class="display-4">Welcome to Glr Transport Inc.!</h1>
        <p>
            This site is currently in maintenance and contains no content. This website is viewable for testing purposes
            by the dev team at University of North Texas that is responsible for this project.
        </p>
    </div>
</body>