@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>
    <div class="main text-center">
        <h1>Welcome to Glr Transport!</h1>
        <img src="~/Images/customTruck_Green.png" class="img-fluid" alt="Responsive image">
        <p>
            This is a web application built to provide the members of Glr Transport Inc. a platform for managing 
            freight bills and employees. This site is currently under maintanance by a team of software developers
            at the University of North Texas in Denton, TX. Apart from information about the company and contact
            information, access to data on this site is limited to employees and developers, and requires logging in
            with an employee account. 
        </p>
    </div>
</body>