@page
@model IndexModel
@using GlrTransportInc.Models
@inject SignInManager<UserModel> SignInManager
@{
    ViewData["Title"] = "Home page";
}
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="mainBanner">
            <h1 class="centered">Hello, @IndexModel.Name!</h1>
        </div>
        <div class="mainMobileBanner">
            <h3 class="mobileCentered">Hello, @IndexModel.Name!</h3>
        </div>
        <div about="row" class="text-center main">
            <h3>Recent Announcements</h3>
            @foreach (var item in Model.Announcement.Take(4)) 
            {
                <a class="nav-link" asp-page="./Announcements/Index">@item.Title (@item.DatePosted)</a>                                          
            }
        </div>
        
    }
    else
    {
        <div class="mainBanner">
            <h1 class="centered">Welcome to Glr Transport!</h1>
        </div>
        <div class="mainMobileBanner">
            <h3 class="centered">Welcome to Glr Transport!</h3>
        </div>
        <div about="row" class="text-center mainText">
            <p>
                This is a web application built to provide the members of Glr Transport Inc. a platform for managing
                freight bills and employees. Please log in to access this site's features, or view the about or 
                contact page for general information about the company.
            </p>
        </div>
    }
</body>