@page
@model IndexModel
@using GlrTransportInc.Models
@inject SignInManager<UserModel> SignInManager
@{
    ViewData["Title"] = "Home page";
}
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- header image, desktop then mobile style, toggled via the media query -->
        <div class="mainBanner">
            <h1 class="centered">Hello, @IndexModel.Name!</h1>
        </div>
        <div class="mainMobileBanner">
            <h5 class="mobileCentered">Hello, @IndexModel.Name!</h5>
        </div>
        <!-- Content, notice that Recent Announcements also has two styles -->
        <div about="row" class="text-center main">
            <h3 class="mainSize">Recent Announcements</h3>
            <p class="mobileSize">Recent Announcements</p>
            @foreach (var item in Model.Announcement.Take(4)) 
            {
                <a class="nav-link" asp-page="./Announcements/Index">@item.Title (@string.Format("{0:MM/dd/yyyy hh:mm:ss tt}",item.DatePosted))</a> 
            }
        </div>
        
    }
    else
    {
        <!-- follows the same format as above, but for logged out view -->
        <div class="mainBanner">
            <h1 class="centered">Welcome to GLR Transport!</h1>
        </div>
        <div class="mainMobileBanner">
            <h5 class="mobileCentered">Welcome to GLR Transport!</h5>
        </div>
        <div about="row" class="text-center mainText">
            <p>
                This is a web application built to provide the members of Glr Transport Inc. a platform for managing
                freight bills and employees. Please log in to access this site's features, or view the about or 
                contact page for general information about the company.
            </p>
        </div>
    }
</body>