@page
@model MyFreightsModel
@{
}

<head>
    <br />
    <br />
    <h1 class="text-center">Please log in to view freight listings associated with your profile.</h1>
</head>
<!-- TEMPORARILY USING THE HOMEPAGE STYLING below, may change later -->
<body>
    <div class="main text-center">
        <a asp-page="/LoginPage" class="p text-success">Click here to log in</a>
        <p>

        </p>
    </div>
</body>