@page
@model MyFreightsModel
@using Microsoft.AspNetCore.Identity
@using GlrTransportInc.Models
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
@{
    ViewData["Title"] = "My Freight Bills";
}
<body>
    @if (SignInManager.IsSignedIn(User)) {
        <div class="main text-center">
            <h1 class="text-center">My Freight Bills</h1>
            <p>(This feature soon display freight bills listed for a logged in driver, may not be available for other 
                user types. Page is still in maintenance.)</p>
        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    } else {
        <div class="main text-center">
            <h1 class="text-center">My Freight Bills</h1>
            <p>You must log in to an account to view your freight bills.</p>
            <a asp-area="Identity" asp-page="/Account/Login" class="p text-success">Click here to log in</a>
        </div>
    }
</body>