@page
@model MyProfileModel
@{
    ViewData["Title"] = "My Profile";
}
<!-- uses main styling -->
<body>
    <div class="main text-center">
        <h1 class="text-center">My Profile</h1>
        <p>Email: @User.Identity.Name</p>
    </div>
</body>