@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
    <div class="main text-center">
        <h1>@ViewData["Title"]</h1>
        <p>
            Although this website is public, it is currently still in development by a team of software engineers at
            the University of North Texas. If you require information about this site or Glr Transport Inc., please
            navigate to the about or contact page, as these are the only pages on the site currently deemed public.
            Elsewise, this application is intended for use by employees and developers only, as it may contain data the 
            company prefers to keep private.
        </p>
    </div>
</body>
