@page 
@model GlrTransportInc.CalendarModel
@using GlrTransportInc.Models
@{
    ViewBag.Title = "Calendar";
}
<!-- syntax of grabbing freight bill data from the model 
    CalendarModel.BillName[0]
    CalendarModel.StartDate[0]
    CalendarModel.DueDate[0]
    CalendarModel.Status[0]
-->
<br />
<div class="row">

    <div class="col-md-12">
        <div id="calendar"></div>
    </div>

</div>

<!--Needs to be update to new Full Calendar-->
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.print.css" rel="stylesheet" media="print" />
    
@section scripts{
    <!--Needs tob e changed for new Full Calendar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var i = 0;
            var fb[];

            foreach (var item in @CalendarModel.FreightBill) {

                fb = [{ "title": "item.BillName", "start": "item.StartDate", "end": "item.DueDate", "status": "item.Status" }];
                    }
                    
                
            /*
            $.ajax({
                type: "GET",
                url: 'home/OnGetAsync',
                success: function (FreightBill) {
                $.each(FreightBill, function (i, v) {
                        events.push({ //Pushing Data from DB into "events" object
                            title: v.CalendarModel.BillName, //Replaced Subject
                            //driver: v.Driver//, //Replaced Description
                            start: moment(v.CalendarModel.StartDate),
                            //end: v.End != null ? moment(v.End) : null, //Used because End Time Can be NULL
                            end: moment(v.CalendarModel.DueDate),
                            //color: v.StatusColor //Replaced ThemeColor
                            status: v.CalendarModel.status
                        });
                    });

                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed to generated calendar');
                }
            })*/


            GenerateCalendar(fb);

                function GenerateCalendar(fb) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 700,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'month,listWeek,agendaDay,listDay',
                        center: 'title',
                        right: 'prev,next today'
                    },
                    footer: {
                        left: 'prev',
                        right: 'next'
                    },
                    defaultView: 'listDay',
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events
                });
                }
            });
    </script>

}
