@page
@model GlrTransportInc.IndexModel
@{
    ViewBag.Title = "Index";
}

<h2>Work in Progress</h2>

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Calendar</h1>
</div>

<div class="row">

    <div class="col-md-12">
        <div id="calendar"></div>
    </div>

</div>

<!--Needs to be update to new Full Calendar-->
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media=" = " print" />
    
@section scripts{
    <!--Needs tob e changed for new Full Calendar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            /*$('#calendar').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                contentHeight = 500,
                defaultDate = new Date,
                theme: true,
                header: {
                    left: 'month,agendaWeek,agendaDay',
                    center: 'title',
                    right: 'prev,next today'
                },

                defaultView: 'agendaDay',
                eventLimit: true,
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: "/home/GetEvents/"
            });*/
            GenerateCalendar(events);

            function GenerateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 700,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'month,basicWeek,basicDay,agenda',
                        center: 'title',
                        right: 'prev,next today'
                    },
                    footer: {
                        left: 'prev',
                        right: 'next'
                    },
                    defaultView: 'agenda',
                    eventLimit: true,
                    eventColor: '#378006',
                    events: '/home/GetEvents'
                });
            }
        });
    </script>

}
