@page
@model GlrTransportInc.Pages.Manage_Users.EditModel
@using GlrTransportInc.Models
@inject SignInManager<UserModel> SignInManager
@{
}
<br />
@if (SignInManager.IsSignedIn(User))
{
    @if (User.FindFirst("Position").Value == "Manager")
    {
        <p>This is a work in progress m8.</p>
    }
    else
    {
        <p>This is a work in progress m8.</p>
    }
}
else
{
    <p>This is a work in progress m8.</p>
}